<!DOCTYPE html>
<html>

<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style>
    .musician{
      border-bottom: 1px solid gainsboro;
      margin-bottom: 12px;
    }
    .info-ellipse{
      overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    }
    .avatar{
      height: auto!important;
      width: 70%!important;
      margin: 0 auto!important;
      text-align: center!important;
      margin: 37px!important;
    }
    .avatar img{
      border: 6px solid #ffb300!important;
    }
  </style>
</head>

<body>
  <div id="app">
    <v-app>
      <template>
        <div style="position: relative; overflow: hidden;">
          <v-toolbar absolute color="amber darken-1" dark scroll-off-screen scroll-target="#scrolling-techniques">
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>{{title}}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon>search</v-icon>
            </v-btn>
            <v-btn icon>
              <v-icon>more_vert</v-icon>
            </v-btn>
          </v-toolbar>
          <div id="scrolling-techniques" style="max-height: 600px;" class="scroll-y">
            <v-container id="Cardcarousel" style="height: 1000px;padding-top: 80px;">
                <v-card v-for="musician in musicians" class="mb-2">
                    <v-card-media v-bind:src="musician.pic" height="200px">
                    </v-card-media>
                    <v-card-title primary-title>
                      <div>
                        <h3 class="headline mb-0">{{musician.artist}}</h3>
                        <div class="info-ellipse">{{musician.info}}</div>
                      </div>
                    </v-card-title>
                    <v-card-actions>
                      <v-btn flat color="orange" @click.stop="dialog3 = true">About</v-btn>
                      <v-btn flat color="orange">Listen</v-btn>
                      <v-layout>
                          <v-dialog v-model="dialog3" max-width="500px" style="margin-top: 40px;">
                              <v-card>
                                <v-card-title>
                                  <h1 class="musician">{{musician.artist}}</h1>
                                  <p>{{musician.info}}</p>
                                  <v-spacer></v-spacer>
                                </v-card-title>
                                <v-card-actions>
                                  <v-btn color="primary" flat @click.stop="dialog3=false">Close</v-btn>
                                </v-card-actions>
                              </v-card>
                            </v-dialog>
                      </v-layout>
                    </v-card-actions>
                  </v-card>
            </v-container>
          </div>
        </div>
      </template>


      <v-layout wrap>
          <v-navigation-drawer v-model="drawer" temporary absolute>
            <v-list class="pa-1">
              <!-- <v-list-tile avatar>
                <v-list-tile-avatar>
                  <img src="https://randomuser.me/api/portraits/men/85.jpg">
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title>John Leider</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile> -->
              <v-avatar>
                  <img src="https://randomuser.me/api/portraits/men/85.jpg" alt="John">
                </v-avatar>
                <v-list-tile-content>
                    <v-list-tile-title>John Leider</v-list-tile-title>
                  </v-list-tile-content>
            </v-list>
            <v-list class="pt-0" dense>
              <v-divider></v-divider>
              <v-list-tile v-for="item in items" :key="item.title" @click="">
                <v-list-tile-action>
                  <v-icon>{{ item.icon }}</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-navigation-drawer>
        </v-layout>
    </v-app>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script>
    // import Carousel from './carousel.vue'

    new Vue({
      // components: {
      //   Carousel
      // },
      el: '#app',
      data() {
        return {
          dialog3: false,
          drawer: null,
          title: 'Musicians',
          items: [
            { title: 'Home', icon: 'dashboard' },
            { title: 'About', icon: 'question_answer' }
          ],
          checkbox: true,
          musicians: [
            { artist: 'Adekunle Gold', 
              info: 'Omoba Adekunle Kosoko, popularly known by his stage name Adekunle Gold, is a Nigerian highlife singer, songwriter and graphic designer. He describes his genre of music as "urban highlife". His 2014 single "Sade" received massive airplay on various Nigerian radio stations. His follow-up single, titled "Orente", also received positive reviews from music critics and consumers.  In 2015, he was nominated in the Most Promising Act of the Year category at the 2015 City People Entertainment Awards. His 2014 single "Sade" was nominated for Best Alternative Song at The Headies 2015.[3][4] In 2015, he was signed to YBNL Nation under which he released his debut studio album Gold.',
              pic: 'images/gold.jpg' },
            { artist: 'Johnny Drille', 
              info: 'John Ighodaro, better known as Johnny Drille was born and raised in Edo State, Nigeria. ... The Mavin Records’ huncho followed him on Twitter to commend him.',
              pic: 'images/drille.jpg' },
            { artist: 'Simisola', 
              info: 'Omoba Adekunle Kosoko, popularly known by his stage name Adekunle Gold, is a Nigerian highlife singer, songwriter and graphic designer.',
              pic: 'images/simi.jpg' }
          ]
        }
      }
    })

  </script>
</body>

</html>